spring:
  application:
    name: course-service

  datasource:
    url: jdbc:mysql://mysql-course:3306/course_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

server:
  port: 8082
  servlet:
    context-path: /api

app:
  jwt:
    secret: ${APP_JWT_SECRET}
    expiration: ${APP_JWT_EXPIRATION:86400000}

cxf:
  path: /ws
  servlet:
    init:
      service-list-path: /info

logging:
  level:
    com.nexis.course_service: DEBUG
    org.springframework.web: INFO
    org.apache.cxf: INFO
    io.jsonwebtoken: DEBUG
